# Node modules
frontend/node_modules/
backend/node_modules/

# Environment files
frontend/.env
backend/.env

# Logs
*.log

# Build folders
frontend/dist/
frontend/build/
backend/build/

# OS files
.DS_Store
Thumbs.db
