@import "tailwindcss";


@font-face {
  font-family: 'cyclothonFont'; /* name you'll use in CSS */
  src: url('/fonts/cyclothonFont.otf') format('opentype');  
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'cyclothonSloganFont'; /* name you'll use in CSS */
  src: url('/fonts/cyclothonSloganFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Energan'; /* name you'll use in CSS */
  src: url('/fonts/Energan.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'goodrace'; /* name you'll use in CSS */
  src: url('/fonts/goodrace.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SharpAxe'; /* name you'll use in CSS */
  src: url('/fonts/SharpAxe.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Borcer'; /* name you'll use in CSS */
  src: url('/fonts/Borcer.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: black;
  overflow-x: hidden;
}

.scrollbar-none::-webkit-scrollbar {
  display: none; 
}
.scrollbar-none {
  -ms-overflow-style: none;  
  scrollbar-width: none;  /* Firefox */
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  
  
}